<div class="side-header">
  <div class="header-name, button is-success is-rounded">
    <%= link_to "ユーザーネーム", "#" %>
  </div>
  <div class="create-room, button is-danger is-rounded is-6">
    <%= link_to "チャットを作成する", "#" %>
  </div>
</div>
<div class="side">
      <div class="room">
        <div class="room-name, button is-success is-rounded menu-list" >
          <%= link_to "部屋名", "#" %>
        </div>
      </div>
</div>