<ul class="box menu-list submenu column is-2">
  <li><a href="#">user</a></li>
  <li><a href="#">room-create</a></li>
</ul>
<aside class="box submenu column is-2">
  <p class="menu-label">
    room-name
  </p>
  <ul class="menu-list ">
      <li><a href="#">room1</a></li>
      <li><a href="#">room2</a></li>
      <li><a href="#">room3</a></li>
  </ul>
</aside>