<div class="columns">
  <div class="column column is-one-quarter">
    <%= render "shared/side_bar" %>
  </div>
  <div class="column column is-three-quarters">
    <%= render "main_chat"%>
  </div>
</div>
