<div class="columns">
  <div class="column is-one-quarter">
    <%= render "shared/side_bar" %>
    <div class="box ml-2 mr-2">
      <%= render "rooms/search_bar" %>
    </div>
  </div>
  <div class="column is-three-quarters">
    <%= render "main_chat"%>
  </div>
</div>
