<div class="columns is-mobile p-6">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="signup">
      <div class="box">
        <p class="title center">
          Create Account
        </p>
        <p class="subtitle">
          新規アカウントの作成 
        </p>
      </div>
      <div class="fields box">
        <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
          <%= render 'shared/error_messages', model: f.object %>
          <%= render partial: 'shared/form', locals: { f: f }%>
          <%= f.submit "登録", class:"button is-info is-rounded"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
