<nav class=" navbar is-info" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-start navbar-item has-text-white">
    Qchat by calczyama
  </div>
  <div class="navbar-item">
    <%= link_to (image_tag "ダウンロード.png"), "https://twitter.com/calczyama", target:"_blank", rel:"noopener noreferrer"%>
  </div>
  <div class="navbar-item ">
    <%= link_to (image_tag "ダウンロード (1).png"), "https://calczyama.hatenablog.com/", target:"_blank", rel:"noopener noreferrer"%>
  </div>
  <div class="navbar-item">
    <a href="#" class="has-text-white">ヘルプ</a>
  </div>
  <div class="navbar-item ">
    <a href="#" class="has-text-white">問い合わせ</a>
  </div>
</nav>
