<nav class=" navbar is-info" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-start navbar-item has-text-white">
    Qchat by calczyama
  </div>
  <div class="navbar-item">
    <%= link_to "twitter", "https://twitter.com/calczyama", class:"has-text-white", target:"_blank", rel:"noopener noreferrer"%>
  </div>
  <div class="navbar-item ">
    <%= link_to "blog", "https://calczyama.hatenablog.com/", class:"has-text-white", target:"_blank", rel:"noopener noreferrer"%>
  </div>
  <div class="navbar-item">
    <a href="#" class="has-text-white">ヘルプ</a>
  </div>
  <div class="navbar-item ">
    <a href="#" class="has-text-white">問い合わせ</a>
  </div>
</nav>
