<nav class="navbar is-info" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-start navbar-item is-size-4">
    <%= link_to "Qchat", root_path, class:" button is-info"%> 
  </div>
</nav>